{% extends 'base.html.twig' %}

{% block title %}List{% endblock %}

{% block body %}

    <h1>{{ make.name }}</h1>

    <ul class="car">
        {% for car in make.cars %}
            <li><a href="{{ url('car', {'carId' : car.id}) }}">{{ car.model }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}
